/**
 * @file
 * Style rules for the look and feel of the styleguide.
 */

.styleguide-header {
  margin-top: rhythm(2);
  margin-bottom: rhythm(10);
}

.styleguide-footer {
  margin-top: rhythm(4);
  padding-top: rhythm(2);
  padding-bottom: rhythm(2);
  background: $off-white;
}

.styleguide-component-container {
  margin: 0 0 rhythm(10) 0;
}