/**
 * @file
 * Style rules for the look and feel of the styleguide.
 */

$styleguide-slug: 2em;

.styleguide-header {
  margin-top: $styleguide-slug;
  margin-bottom: $styleguide-slug * 2;
}
.styleguide-header__image {
  height: 32px;
}
.styleguide-breadcrumbs {
  @extend %allcaps;  
  @include adjust-font-size-to($label, 1);
}
.styleguide-body {
  p { max-width: 760px; }
  margin-bottom: $styleguide-slug;  
}
.styleguide-footer {
  background: $white;
  @include adjust-font-size-to($crumb, 1);
  margin-top: $styleguide-slug * 2;
  margin-bottom: $styleguide-slug * 2;  
}

.styleguide-example { 
  background: $off-white;
  padding: $styleguide-slug * 2 0;
  margin-bottom: $styleguide-slug;
}
.styleguide-markup {
  margin-bottom: $styleguide-slug;
}