/**
 * @file
 * Style rules for the look and feel of the styleguide.
 */

.styleguide-header {
  margin-top: rhythm(2);
  margin-bottom: rhythm(8);
}
.styleguide-footer {
  background: $white;
  @include adjust-font-size-to($crumb, 1);
  padding-top: rhythm(4);
}
.l-styleguide-page {
  @extend %l-page;
  margin-bottom: rhythm(4);
}
.styleguide-example-wrapper { 
  background: $off-white;
}
.styleguide-example-wrapper:before {
  content: "Example:";
  @include adjust-font-size-to($crumb);
  font-family: $helvetica;
  font-weight: 700;
  color: #aaa;
  position: relative;
  top: 1em;
  left: 2em;
}
.styleguide-example {
  padding: 6em 0;
}