/**
 * @file
 * Define your custom Sass mixins and extends here.
 * @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
 */

/* ==========================================================================
   Main text column extend
   ========================================================================== */

%single-column {
  margin-left: 24px; // important
  margin-right: 24px; // important
  @include breakpoint($bp1) { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  } 
  @include breakpoint($bp2) { width: 70%; } 
  @include breakpoint($bp3) { max-width: 760px; }
}


/* ==========================================================================
   Typography extends
   ========================================================================== */

/* Use Champion Heavyweight */
%champion-heavyweight { font-family: $champion-heavyweight; font-weight: 400; }

/* Use Champion Lightweight */
%champion-lightweight { font-family: $champion-lightweight; font-weight: 400; }

/* Use Sentinel Display */
%sentinel-display { font-family: $sentinel; }

/* Use Sentinel ScreenSmart */
%sentinel { font-family: $sentinel-ssm; }

/* Use Helvetica Neue font stack */
%helvetica { font-family: $helvetica; }

/* Tight tracking */
%track-in { letter-spacing: -0.0125em; }

/* Open tracking */
%track-out { letter-spacing: 0.05em; }

/* Style all caps with a slightly open tracking. */
%allcaps { text-transform: uppercase; }


/* ==========================================================================
   Clearfix extend
   ========================================================================== */

/**
 * Applies a clearfix ruleset using a placeholder selector. Placeholder selectors
 * do not get compiled uless they are called - removing the nesting issues that
 * can otherwise occur with extends.
 */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* ==============================================================
   Visually hidden extend
   ============================================================== */

/**
 * Element-invisible as defined by snook.ca
 * @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.element-invisible,
%element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

/* ==============================================================
   Transition mixin
   ============================================================== */

@mixin trans($timing, $easing) {
  -webkit-transition: all $timing $easing;
  -moz-transition: all $timing $easing;
  -o-transition: all $timing $easing;
  transition: all $timing $easing;
}

/* ==============================================================
   Hyperlink mixin
   ============================================================== */

@mixin hyperlink($color-1: #666666, $color-2: #000000) {
  a:link,
  a:visited { 
    color: $color-1;
    text-decoration: none;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $color-2;
    text-decoration: none;  
  }
}
