<aside class="block">
  <h1 class="block-title">Recently Added</h1>
  <ul class="block-list">
    <li>
      <article>
        <h2 class="block-list__item-title"><a href="#">Quenchers Saloon</a></h2>
        <p class="block-list__item-address">2401 N Western Ave</p>
      </article>
    </li>
    <li>
      <article>
        <h2 class="block-list__item-title"><a href="#">Whirlaway Lounge</a></h2>
        <p class="block-list__item-address">3224 W Fullerton Ave</p>
      </article>
    </li>
    <li>
      <article>
        <h2 class="block-list__item-title"><a href="#">Rocking Horse</a></h2>
        <p class="block-list__item-address">2535 N Milwaukee Ave</p>
      </article>
    </li>
    <li>
      <article>
        <h2 class="block-list__item-title"><a href="#">The Burlington</a></h2>
        <p class="block-list__item-address">3425 W Fullerton Ave</p>
      </article>
    </li>
  </ul>
</aside>