<div class="rollup">
  <h1 class="dotw-title">Monday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$1 Cans, $15 Beer Flights, $2 Mystery Shots, $3 Malort Shots</li>
  </ul>
</div>

<div class="rollup">
  <h1 class="dotw-title">Tuesday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$3 Wittekerke Cans, $4 Powers Whiskey Shots, $3 Malort Shots</li>
    <li class="dotw-list__food">$7.99 12oz New York Strip Steak Dinner, $3.50 Half Pound Black Angus Burger, $4.50 Deluxe Burger w/ Cheese & Fries</li>
  </ul>
</div>

<div class="rollup">
  <h1 class="dotw-title">Wednesday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$1 off Select Drafts, $4 Well Drinks, $3 Malort Shots</li>
    <li class="dotw-list__food">$7.99 12oz New York Strip Steak Dinner, $3.50 Half Pound Black Angus Burger, $4.50 Deluxe Burger w/ Cheese & Fries</li>
  </ul>
</div>

<div class="rollup">
  <h1 class="dotw-title">Thursday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$3 Radeberger King Cans, $1 off Tequilas, $3 Malort Shots</li>
  </ul>
</div>

<div class="rollup">
  <h1 class="dotw-title">Friday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$3 Pabst Blue Ribbon Bottles, $4 Sailor Jerry Rum Shots, $3 Malort Shots</li>
    <li class="dotw-list__food">$7.99 12oz New York Strip Steak Dinner, $3.50 Half Pound Black Angus Burger, $4.50 Deluxe Burger w/ Cheese & Fries</li>
  </ul>
</div>

<div class="rollup">
  <h1 class="dotw-title">Saturday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$4 Wittekerke, $4 Sauza Tequila Shots, $3 Malort Shots</li>
  </ul>
</div>

<div class="rollup">
  <h1 class="dotw-title">Sunday Specials</h1>
  <ul class="dotw-list">
    <li class="dotw-list__drink">$2 Pabst Blue Ribbon Bottles, $1 off All Bourbons, $3 Malort Shots</li>
  </ul>
</div>