<article class="feature feature__image">

  <div class="container">
    <div class="l-2up--2">
      <h1 class="feature__title"><a href="#">Finley Dunnes</a></h1>
      <p class="feature__address">
        2657 N Kedzie Ave,
        <a href="#">Lakeview</a>
      </p>
      <p class="feature__summary"></p>
      <ul class="feature__list">
        <li class="feature__list-drink">$7 Domestic Pitchers, $3 Miller Lite Bottles, $4 Four Rebels Lion Bombs</li>
        <li class="feature__list-food">$10 8 Chicken Wings & 2 Miller Lite Bottles, $25 20 Chicken Wings & 5 Miller Lite Bottles</li>
        <li class="feature__list-category"><a href="#">Sports Bar</a></li>      
      </ul>
    </div>
  </div>

</article>