<article class="rollup">
  <div class="rollup-pin"></div>
  <h1 class="rollup-title"><a href="#">The Lion Head Pub</a></h1>
  <p class="rollup-address">
    2251 N Lincoln Ave,
    <a href="#">Lincoln Park</a>
  </p>
  <ul class="rollup-list">
    <li class="rollup-list__drink">$3.25 Coors Light 20oz Drafts, $15 Coors Light Buckets, $5 Absolut Bloody Marys, $7.50 Antipasto Bloody Marys w/ Coors Light Chasers</li>
    <li class="rollup-list__food">50¢ Wings, $3.50 Half Pound Cheeseburgers from 11am-4pm</li>
    <li class="rollup-list__category"><a href="#">Night Club</a></li>      
  </ul>
</article>