<article class="rollup">
  <div class="rollup-pin"></div>
  <h1 class="rollup-title"><a href="#">Jack & Gingers</a></h1>
  <p class="rollup-address">
    2048 W Armitage Ave,
    <a href="#">Bucktown</a>
  </p>
  <ul class="rollup-list">
    <li class="rollup-list__drink">$4 Bloody Marys, $4 Mimosas, $2 Domestic Drafts, $10 Domestic Pitchers</li>
    <li class="rollup-list__food">$6 Nachos, $6 Quesadillas</li>
    <li class="rollup-list__category"><a href="#">Sports Bar</a>, <a href="#">Night Club</a></li>      
  </ul>
</article>