<article class="rollup">
  <h1 class="rollup-title"><a href="#">Longman & Eagle</a></h1>
  <p class="rollup-address">
    2657 N Kedzie Ave,
    <a href="#">Logan Square</a>
  </p>
  <ul class="rollup-list">
    <li class="rollup-list__drink">$7 Domestic Pitchers, $3 Miller Lite Bottles, $4 Four Rebels Lion Bombs</li>
    <li class="rollup-list__food">$10 8 Chicken Wings & 2 Miller Lite Bottles, $25 20 Chicken Wings & 5 Miller Lite Bottles</li>
    <li class="rollup-list__category"><a href="#">Sports Bar</a>, <a href="#">Night Club</a></li>      
  </ul>
</article>