<footer class="site-footer">
  <div class="container">
    <div class="l-1up">
      <div class="site-footer__logo">
        <img src="{{ site.baseurl }}/assets/img/smalltabs-logo__footer.svg" />
      </div>
      <div class="site-footer__copyright">
        <p>Copyright © 2009-2014 Matt Mesker. All rights reserved.<br /> 
          By using this website, you agree to our <a href="#">terms of use</a>.
        </p>
      </div>
      <nav class="site-footer__social-links">
        <a href="#"><i class="ss-icon">twitter</i></a>
        <a href="#"><i class="ss-icon">facebook</i></a>
      </nav>
    </div>
  </div>
</footer>

