/**
 * @file
 * Style rules for the contact block.
 */

.contact-list {
  list-style-type: none;
  padding-left: 0;
  li {
    @include adjust-font-size-to($label, 1.5);
    padding-top: rhythm(1, $label);   
    border-top: 1px solid $stout-10;
    margin-bottom: rhythm(1, $label);
  }
}
.contact-list__item--phone:before,
.contact-list__item--website:before,
.contact-list__item--facebook:before,
.contact-list__item--twitter:before,
.contact-list__item--yelp:before {
  @include adjust-font-size-to($label);  
  font-family: "SSSocial";
  font-style: normal;
  margin-right: rhythm(1);
  vertical-align: middle;
}
.contact-list__item--phone:before { content: 'phone'; }
.contact-list__item--website:before { content: 'link'; }
.contact-list__item--facebook:before { content: 'facebook'; }
.contact-list__item--twitter:before { content: 'twitter'; }
.contact-list__item--yelp:before { content: 'yelp'; }