/**
 * @file
 * Style rules for the bar feature.
 */

.feature { 
  display: table;
  width: 100%;
}

.feature.rollup { 
  border: 0px;
  margin-bottom: $zen-gutter-width;
}
.feature__image {
  background: url('../img/feature__image.jpg');
  background-size: cover;   
  background-repeat: no-repeat;
  padding-bottom: 60%;
  width: 100%;
  @include breakpoint($bp1) {
    display: table-cell;  
    padding-bottom: 0;
    width: 40%;
  }   
}
.feature__content {
  width: 100%;
  @include breakpoint($bp1) { 
    display: table-cell;
    width: 60%;
  }   
}

.feature__dotw {
  //@extend %champion-heavyweight;
  @extend %allcaps;
  font-weight: 700;
  color: $pilsner;
  @include adjust-font-size-to($label, 1.5);       
  @include leader(0, $label);
  @include trailer(.75, $label);
  padding-top: rhythm(1.5, $label);
  padding-right: rhythm(1, $label);  
  padding-left: rhythm(1.5, $label);    
}
.feature__title { 
  @extend %track-in;
  @include adjust-font-size-to($lg-heading, 2.5);
  @include leader(0, $lg-heading);
  @include trailer(.75, $lg-heading);
  padding-right: rhythm(1, $lg-heading);  
  padding-left: rhythm(1.5, $lg-heading);
  a { border-bottom: 0px; }
}
.feature__address {  
  @include adjust-font-size-to($label, 1.5);  
  @include trailer(0, $label);
  padding-left: rhythm(1.5, $label); 
  padding-right: rhythm(1, $label);    
  padding-bottom: rhythm(1.5, $label);

  a:link,
  a:visited { 
    color: $stout-60;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $hover-color;
    text-decoration: underline;  
  }     
}
.feature-list {
  @include adjust-font-size-to($label, 1.5);  
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    border-top: 1px solid $off-white;
    padding-top: rhythm(1.25, $label);
    padding-right: rhythm(1, $label);
    padding-bottom: rhythm(1.25, $label);
    padding-left: rhythm(4, $label);    
    margin-bottom: 0;
  }
}

.feature-list__drink,
.feature-list__food,
.feature-list__category {
  a:link,
  a:visited { 
    color: $stout-60;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $hover-color;
    text-decoration: underline;  
  }
}
.feature-list__drink { background: url('../img/icon__drink.svg'); }
.feature-list__food { background-image: url('../img/icon__food.svg'); }
.feature-list__category { background-image: url('../img/icon__tag.svg'); }
.feature-list__drink,
.feature-list__food,
.feature-list__category {
  background-position: left rhythm(1.5, $label) top rhythm(1.5, $label);
  background-repeat: no-repeat;
  background-size: 1em;
}