/**
 * @file
 * Style rules for the neighborhoods list.
 */

.neighborhoods-list {
  list-style-type: none;
  padding-left: 0;  
  -moz-column-count: 2;
  -moz-column-gap: $zen-gutter-width;
  -webkit-column-count: 2;
  -webkit-column-gap: $zen-gutter-width;
  @include breakpoint($bp1) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
  @include breakpoint($bp2) {
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}
.neighborhoods-list__heading {
  color: $pilsner;
  @extend %allcaps;
  @include trailer(.5, $xxl-heading);
}
.neighborhoods-list__subheading {
  @include adjust-font-size-to($lg-heading, 2.5);  
  @include leader(0);
  @include trailer(2, $lg-heading);
  color: $stout;
}
.neighborhoods-list__item {
  @extend %sentinel;
  &:after {
    content: '›';
    margin-left: rhythm(.25, $text);
    color: $stout;
  }
}
