/**
 * @file
 * Style rules for the rollup.
 */

.finder-results {
  background-color: $off-white;
  padding-top: $zen-gutter-width;  
}

.rollup {
  background-color: $white;
  padding: rhythm(1.5) rhythm(1.5) rhythm(.5) rhythm(1.5);
  margin-bottom: $zen-gutter-width;  
  //min-height: 300px; 
}
.rollup-title {
  @include adjust-font-size-to($sm-heading, 1.5);
  @include leader(0, $sm-heading);
  @include trailer(.5, $sm-heading);
}
.rollup-address {
  @include adjust-font-size-to($label, 1.5);  
  color: $gray-medium;

  a:link,
  a:visited { 
    color: $gray-medium;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $link-color;
    text-decoration: underline;  
  }
}
.rollup-list {
  list-style-type: none;
  padding-left: 0;

  li {
    border-top: 1px solid $off-white;
    padding-top: rhythm(1);
    margin-bottom: rhythm(1);
    padding-left: rhythm(2);
  }
}
.rollup-list__drink,
.rollup-list__food,
.rollup-list__category {
  @include adjust-font-size-to($label, 1.5);

  a:link,
  a:visited { 
    color: $gray-medium;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $link-color;
    text-decoration: underline;  
  }
}
.rollup-list__drink { background: url('../img/icon__drink.svg'); }
.rollup-list__food { background-image: url('../img/icon__food.svg'); }
.rollup-list__category { background-image: url('../img/icon__tag.svg'); }
.rollup-list__drink,
.rollup-list__food,
.rollup-list__category {
  background-position: left top rhythm(1.25);
  background-repeat: no-repeat;
  background-size: 1em;
}
