/**
 * @file
 * Style rules for the rollup.
 */

.finder-results {
  background-color: $off-white;
  padding-top: $zen-gutter-width;  
}

.rollup {
  //border: 1px solid $stout-10;
  background-color: $white;
  margin-bottom: $zen-gutter-width / 2;  
}
.rollup-title {
  //@extend %sentinel-display;
  //@extend %track-in;
  //@extend %champion-heavyweight;
  //@extend %allcaps;
  //font-family: $helvetica;  
  //font-weight: 700;
  @extend %champion-heavyweight;  
  @include adjust-font-size-to($text, 1.5);
  @include leader(0, $text);
  @include trailer(.5, $text);
  padding-top: rhythm(1.5, $text);
  padding-left: rhythm(4, $text);
  padding-right: rhythm(1, $text);
  a { border-bottom: 0px; }  
  /*
  @include adjust-font-size-to($md-heading, 2);
  @include leader(0, $md-heading);
  @include trailer(.5, $md-heading);
  padding-top: rhythm(2, $md-heading);
  padding-left: rhythm(4, $md-heading);
  padding-right: rhythm(1, $md-heading);
  a { border-bottom: 0px; }
  */   
}
.rollup-address {
  @extend %helvetica;
  //@extend %allcaps;  
  @include adjust-font-size-to($label, 1);
  @include trailer(0, $label);
  padding-left: rhythm(4, $label); 
  padding-right: rhythm(1, $label);    
  padding-bottom: rhythm(1.5, $label);  

  a:link,
  a:visited { 
    color: $stout-60;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $hover-color;
    text-decoration: underline;  
  }
}
%rollup-list,
.rollup-list {
  @extend %helvetica;
  @include adjust-font-size-to($label, 1.5);
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; // important

  li {
    border-top: 1px solid $stout-05;
    padding-top: rhythm(1.25, $label);
    padding-right: rhythm(1, $label);
    padding-bottom: rhythm(1.25, $label);
    padding-left: rhythm(4, $label);    
    margin-bottom: 0;
  }
}

.rollup-list__drink,
.rollup-list__food,
.rollup-list__category {
  a:link,
  a:visited { 
    color: $stout-60;
    text-decoration: underline; 
  }
  a:hover,
  a:focus,
  a:active {
    color: $hover-color;
    text-decoration: underline;
  }
}
.rollup-list__drink { background-image: url('../img/icon__drink.svg'); }
.rollup-list__food { background-image: url('../img/icon__food.svg'); }
.rollup-list__category { background-image: url('../img/icon__tag.svg'); }
.rollup-list__drink,
.rollup-list__food,
.rollup-list__category {
  background-position: left rhythm(1.5, $label) top rhythm(1.5, $label);
  background-repeat: no-repeat;
  background-size: 1em;
}

.rollup-pin {
  float: left;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  z-index: 999;  
  background: url('../img/icon__pin.svg');
  left: rhythm(1, $label); 
  top: rhythm(1.25, $label);
  background-repeat: no-repeat;
  background-size: 1em;  
}
