/**
 * @file
 * Style rules for the rollup.
 */

.finder-results {
  background-color: $off-white;
  padding-top: $zen-gutter-width;  
}

.rollup {
  background-color: $white;
  margin-bottom: $zen-gutter-width / 2;  
}
.rollup-title {
  @extend %sentinel-display;
  font-weight: 700;
  @include adjust-font-size-to($sm-heading, 1.5);
  @include leader(0, $sm-heading);
  @include trailer(.5, $sm-heading);
  padding-top: rhythm(1.5, $sm-heading);
  padding-left: rhythm(4, $sm-heading);
  padding-right: rhythm(1, $sm-heading);  
}
.rollup-address {
  @extend %allcaps;  
  @include adjust-font-size-to($crumb, 1);
  @include trailer(0, $crumb);
  padding-left: rhythm(4, $crumb); 
  padding-right: rhythm(1, $crumb);    
  padding-bottom: rhythm(1.5, $crumb);  

  a:link,
  a:visited { 
    color: $gray-medium;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $hover-color;
    text-decoration: underline;  
  }
}
%rollup-list,
.rollup-list {
  color: $black;
  list-style-type: none;
  padding-left: 0;
  @include adjust-font-size-to($label, 1.5);

  li {
    border-top: 1px solid $off-white;
    padding-top: rhythm(1.25, $label);
    padding-right: rhythm(1, $label);
    padding-bottom: rhythm(1.25, $label);
    padding-left: rhythm(4, $label);    
    margin-bottom: 0;
  }
}

.rollup-list__drink,
.rollup-list__food,
.rollup-list__category {
  a:link,
  a:visited { 
    color: $gray-medium;
    text-decoration: underline;  
  }
  a:hover,
  a:focus,
  a:active {
    @include trans($timing, $easing);
    color: $hover-color;
    text-decoration: underline;  
  }
}
.rollup-list__drink { background: url('../img/icon__drink.svg'); }
.rollup-list__food { background-image: url('../img/icon__food.svg'); }
.rollup-list__category { background-image: url('../img/icon__tag.svg'); }
.rollup-list__drink,
.rollup-list__food,
.rollup-list__category {
  background-position: left rhythm(1.5, $label) top rhythm(1.5, $label);
  background-repeat: no-repeat;
  background-size: 1em;
}
