/**
 * @file
 * Style rules for the site footer.
 */

.site-footer {
  @include zen-clear();
  @include adjust-font-size-to($crumb, 1.25);   
  text-align: left;
  color: $gray-medium;
  border-top: 1px solid $off-white;
  // background: $stout;
  // background: $off-white;

  padding: 4em 0 3em;
}
.site-footer__logo {
  float: left;

  margin-right: $zen-gutter-width / 2;
  margin-bottom: rhythm(2);
}
.site-footer__copyright {
  float: left;
  p {
    margin-bottom: rhythm(0);
  }
}
.site-footer__social-links {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 0;
    display: block;    
    padding: 0 rhythm(0);
    @include breakpoint($bp1) {
      display: inline;
      padding-right: rhythm(1);      
    }
  }
}

.site-footer__social-links-twitter:before,
.site-footer__social-links-facebook:before {
  @include adjust-font-size-to($label);  
  font-family: "SSSocial";
  font-style: normal;
  margin-right: rhythm(1);
  vertical-align: middle;
}
.site-footer__social-links-twitter:before { content:'twitter'; }
.site-footer__social-links-facebook:before { content:'facebook'; }