/**
 * @file
 * Style rules for the look and feel of the recently added block.
 */

.block { 
  display: block;
  margin-bottom: $zen-gutter-width; 
}
.block-title {
  text-transform: uppercase;
  letter-spacing: .0125em;
  @include adjust-font-size-to($text, 2);
  @include leader(0, $text);
  @include trailer(1, $text);
}
.block-list {
  list-style-type: none;
  padding-left: 0;
  li {
    border-top: 1px solid $stout-10;
    margin-bottom: rhythm(1);
  }
}
.block-list__item-title {
  @include adjust-font-size-to($text, 1.5);
  @include leader(1, $text);
  @include trailer(.5, $text); 
}
.block-list__item-address {
  @extend %helvetica;
  text-transform: uppercase;
  @include adjust-font-size-to($crumb, 1);
  color: $stout-60;
}