---
layout: post
title: "Site Header"
description: The site header is consistent across all pages. It is responsible for displaying the Small Tabs brand, and a minimal amount of primary navigation. At smaller viewports, the navigation is collapsed into a "menu" icon.
categories: Components
---
<section class="styleguide-example">
  {% include site-header.html %}
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include site-header.html %}
{% endhighlight %}
  </div>
</section>