---
layout: templates
title: "Home Page"
description: Prominently displays the Finder interface, a featured special, and a complete list of cataloged neighborhoods, should a user want to simply browse by neighborhood instead of doing a detailed search.
categories: Templates
---

{% include site-header.html %}

<div class="l-finder-homepage">
  <div class="container">
    <div class="l-1up l-stripe">
      {% include finder--homepage.html %}
    </div>
    <div class="l-1up">
      {% include feature.html %}
    </div>
  </div>  
</div>

<div class="container l-stripe">
  <div class="l-1up">
    {% include neighborhoods-list.html %}
  </div>
</div>

{% include site-footer.html %}