---
layout: post
title: "Featured Special"
description: The home page prominently features a single special for each day of the week. This spot may be used to promote a single bar for the entire week. 
categories: Components
---

<section class="styleguide-example">
  <div class="container">
    <div class="l-1up">
      {% include feature.html %}
    </div>
  </div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include feature.html %}
{% endhighlight %}
  </div>
</section>