---
layout: templates
title: "Find a Bar Page"
categories: templates
---

{% include site-header.html %}

<div class="container">
  <div class="l-1up l-finder">
    {% include finder.html %}
  </div>
</div>
<div class="finder-results">
  <div class="container">
    <div class="l-3up--1">
      {% include rollup--a.html %}
    </div>
    <div class="l-3up--2">
      {% include rollup--b.html %}
    </div>
    <div class="l-3up--3">
      {% include rollup--c.html %}
    </div> 
    <div class="l-3up--1">
      {% include rollup--c.html %}
    </div>
    <div class="l-3up--2">
      {% include rollup--b.html %}
    </div>
    <div class="l-3up--3">
      {% include rollup--a.html %}
    </div> 
    <div class="l-3up--1">
      {% include rollup--a.html %}
    </div>
    <div class="l-3up--2">
      {% include rollup--b.html %}
    </div>
    <div class="l-3up--3">
      {% include rollup--c.html %}
    </div> 
    <div class="l-3up--1">
      {% include rollup--b.html %}
    </div>
    <div class="l-3up--2">
      {% include rollup--a.html %}
    </div>
    <div class="l-3up--3">
      {% include rollup--b.html %}
    </div>              
  </div>
</div>
{% include site-footer.html %}



{% include site-header.html %}
<div class="container">
  <div class="l-1up l-finder">
    {% include finder.html %}
  </div>
</div>
<div class="finder-results">
  <div class="container">
    <div class="l-page">
      {% include rollup--a.html %}
      {% include rollup--b.html %}
      {% include rollup--c.html %}
      {% include rollup--a.html %}
      {% include rollup--b.html %}
      {% include rollup--c.html %}
      {% include rollup--a.html %}
      {% include rollup--b.html %}
      {% include rollup--c.html %}
      {% include rollup--a.html %}
      {% include rollup--b.html %}
      {% include rollup--c.html %}            
    </div>              
  </div>
</div>

<div class="container">
  <div class="l-3up--1">
    {% include added-list.html %}
  </div>
  <div class="l-3up--2">
    {% include updated-list.html %}
  </div>
  <div class="l-3up--3">
    {% include added-list.html %}
  </div>
</div>

{% include site-footer.html %}