---
layout: templates
title: "Find a Bar Page"
description: Something about this template is it cool because this and because of that. Only put this type of content on this template you dumb denny.
categories: Templates
---

{% include site-header.html %}

<nav class="l-finder">
  <div class="container">
    <div class="l-1up">
      {% include finder.html %}
    </div>
  </div>
</nav>

<figure class="finder__map">
  <img src="{{ site.baseurl }}/assets/img/map-fpo.png" />
</figure>

<div class="page">
  <div class="container">
    <div class="l-66-33--1">
      {% include rollup--a.html %}
      {% include rollup--b.html %}
      {% include rollup--c.html %}
      {% include rollup--c.html %}
      {% include rollup--b.html %}
      {% include rollup--a.html %}
      {% include rollup--a.html %}
      {% include rollup--b.html %}
      {% include rollup--c.html %}
      {% include rollup--b.html %}
      {% include rollup--a.html %}
      {% include rollup--b.html %}
    </div>              
  </div>
</div>
{% include site-footer.html %}