---
layout: templates
title: "Home Page"
description: Something about this template is it cool because this and because of that. Only put this type of content on this template you dumb denny.
categories: Templates
---

{% include site-header.html %}

<div class="l-finder-homepage">
  <div class="container">
    <div class="l-1up l-stripe">
      {% include finder--homepage.html %}
    </div>

    <div class="l-1up">
      {% include feature.html %}
    </div>
  </div>  
</div>

<div class="container l-stripe">

  <div class="l-1up">
    {% include neighborhoods-list.html %}
  </div>
</div>

{% include site-footer.html %}