---
layout: templates
title: "Home Page"
categories: templates
---

{% include site-header.html %}

{% include finder.html %}

{% include feature.html %}

<div class="container">
  <div class="l-1up l-stripe">
    {% include neighborhoods-list.html %}
  </div>
</div>


<!--
<div class="container">
  <div class="l-3up--1">
    {% include added-list.html %}
  </div>
  <div class="l-3up--2">
    {% include updated-list.html %}
  </div>
  <div class="l-3up--3">
    {% include added-list.html %}
  </div>
</div>
-->

{% include site-footer.html %}