---
layout: templates
title: "Bar Page"
categories: Templates
---
{% include site-header.html %}

<div class="container">
  <div class="l-1up">
    <h1>Quenchers Saloon</h1>
    <p>2401 N Western Ave, 
      <a href="#">Logan Square</a>
    </p>
  </div>
</div>

<figure class="map">
  <img src="{{ site.baseurl }}/assets/img/map-fpo.png" />
</figure>

<div class="container">
  <div class="l-66-33--1">
    {% include dotw-list.html %}
  </div>  

  <div class="l-66-33--2">
    {% include contact-list.html %}
    {% include added-list.html %}
  </div>      
</div>

{% include site-footer.html %}