---
layout: post
title: "Listing Rollup"
description: Listing rollups are a results microformat that display a bar's daily special. Their role is to quickly communicate the bar's location, specials and bar type in an easily scannable manner.  
categories: Components
---

<section class="styleguide-example">
  <div class="container">
    <div class="l-page">
      {% include rollup--a.html %}
    </div>
  </div>
</section>

<section class="styleguide-markup container">
  <div class="l-1up">
{% highlight html %}
{% include rollup--a.html %}
{% endhighlight %}
  </div>
</section>