<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ site.name }} : {{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  </head>
    <body>

      <header class="container styleguide-header">
        <div class="l-1up">
          <h1 class="element-invisible">{{ site.name }}</h1>
          <a href="{{ site.baseurl }}/index.html">
            <img class="styleguide-header__image" src="{{ site.baseurl }}/assets/img/smalltabs-logo__styleguide.svg" />
          </a>
        </div>
      </header>

      {{ content }}

      <footer class="container styleguide-footer">
        <div class="l-1up">
          <p>Small Tabs is a product created by <a href="http://twitter.com/mattmesker">@mattmesker</a>.</p>
        </div>
      </footer>

  </body>
</html>
